body{
  /* rgb(161, 180, 206); */
  background-color:whitesmoke;
}

.cardContainer {
	display: flex;
	justify-content: space-evenly;
}

/* Styles input box in CartItem Component */
input {
	text-align: center;
	height: 30px;
	width: 60px;
}

.cart-update{
	display: flex;
}

#footer-id{
	display: flex;
	justify-content: center;
	margin-bottom: -50;

	/* position: relative; */
	/* margin: 0; */
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */