/* Sets color of all pages to whitesmoke */
body{
  background-color:whitesmoke;
}

.cardContainer {
	display: flex;
	justify-content: space-evenly;
}

/* Styles input box in CartItem Component */
input {
	text-align: center;
	height: 30px;
	width: 60px;
}

/* To style CartItem component's Update Cart div with 2 buttons and input */
.cart-update{
	display: flex;
}


/*	To style Footer component:
Tried several CSS combinations to make footer stick to
the bottom of all pages but nothing worked for ALL pages.
*/
#footer-id{
	display: flex;
	justify-content: center;
	/* margin-bottom: -50; */
} 

/* For Error Page */
.error-page{
	display: flex;
	flex-direction: column;
	align-items: center;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */